:root {
  --customColor: #ff4600;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

.message-sent {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.message-sent h1 {
  font-weight: 500;
  font-size: 3rem;
  display: inline-block;
  position: relative;
  z-index: 0;
}

.message-sent h1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20%;
  transform: translate(-50%, -50%);
  background-color: var(--customColor);
  width: 50%;
  height: 0.4rem;
  z-index: 1;
}

.message-sent img {
  height: 40rem;
  max-width: 45rem;
  border-radius: 0.7rem;
  object-fit: cover;
}

a.btn {
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--customColor);
  color: #fff;
  border-radius: 0.5rem;
  border: 2px solid var(--customColor);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 300ms ease-in-out;
}

a.btn:hover,
button:hover {
  transform: translateY(-3px);
  background-color: transparent;
  color: inherit;
}

a.btn:active,
button:active {
  transform: translateY(0px);
}
